form#j-formsch.form(method="get")
    input#local-search-input.txt(
        type="text",
        name="q",
        value="搜索",
        onfocus="if(this.value=='搜索'){this.value='';}",
        onblur="if(this.value==''){this.value='搜索';}"
    )
    input(type="text", style="display: none")
